<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Blog app created using Server Node.js, Express and MongoDB">
    <meta http-equiv="refresh" content="30">
    <meta name="author" content="NewCoderca">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <title>Blog</title>
</head>
<body>
    <div class="blog-container">  
      <nav> <img src="/public/flagAfrica.png" alt="African flags in African continent">
        <h1>All Blogs are here...</h1>
        <img src="/public/flagAfrica.png" alt="African flags in African continent">
      </nav>
      <a href="/blogs/new" class="button-success" aria-label="new-blog">New Blog</a>
    </div>

    <% blogs.forEach(blog => { %>
    <div class="blog-card">
      <h2 class="blog-title"><%= blog.title %></h2>
      <h3 class="blog-date"><%= blog.createdAt.toLocaleDateString(('en-GB')) %></h3>
    <div class="blog-description"><%= blog.description.substring(0, 50) %></div>
      
    <div class="form-new-buttons">
       <a href="blogs/<%= blog.id %>" class="button-readmore" aria-label="read-more">Read more...</a>
       <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
        <button type="submit" class="button-delete">Delete</button>
      </form>
      </div>
     </div>
    <% }) %>
</body>
</html>

